<!--想要的工作-->
<!--411030224 資管二A 劉苓苓-->
<!--20221028-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>想要的工作</title>
        <style>
            style=“table-layout:fixed”
            td {text-align: right}
        </style>
		<body background="../static/Application_BG.jpg" width="60%">
		<font color = "black" face="標楷體">
    </head>
    <body>
	    <table border="0">
		<tr>
		    <th><a href="main" style="color:#000000">首頁</a>
			<th><a href="CareerResults" style="color:#000000"><h4>職涯結果</h4></a>
			<th style="color:#FF2D2D"><h4>想要的工作</h4>
			<th><a href="Resume" style="color:#000000"><h4>求職履歷自傳</h4></a>
		</table>
		<table align="center"; width="90%"; style="table-layout:fixed"; border="1";valign="top">
		<tr>
		   <th colspan="3"><a href="https://www.google.com.tw/?hl=zh_TW" style="color:#000000">
		       <h1>GOOGLE 谷歌</h1></a>
		<tr>
		   <th colspan="3"><img src="../static/Application_job.png" width="800px">
		                   <img src="../static/Application_logo.jpg" width="800px">
		<tr>
		   <th align="left" valign="top">
		       <h1  align="center" style= "background:#FFECF5" >公司資訊</h1>
		       <h2>公司名：GOOGLE</h2>
			   <h2>地址：台北101購物中心</h2>
			   <h2 align="center">服務項目：</h2>
			   <ul align="left">
			      <li> <h2>Google Classroom
				  <li> GMAIL
				  <li> CHROME
				  <li> Gppgle Map
				  <li> YouTube</h2>
		   <th valign="top">
		        <h1 align="center"  style= "background:#FFECF5" valign="top">職務介紹：</h1><br>
				<h1 align="center">名稱：嵌入式軟體工程師<br></h1>
				<h2>
				<ol align="left">
				  <li> DAB、嵌入式系統產品開發及維護
				  <li> Firmware upgrade開發及維護
				</ol>
				</h2>
		       
		   <th align="left" valign="top">
                <h1 align="center"  style= "background:#FFECF5" valign="top">工作要求：</h1><br>
			    <h2>
				    須就讀計算機工程、電氣工程碩士學位以上者，且英語和中文皆須流利。<br>
			        有使用 C 或 C++ 編碼的經驗。<br>
                    優先資格：具有 ARM 架構和標準接口、裸機編程、引導加載程序和固件方面的經驗。<br>
				    具有Linux內核、設備驅動程序和Android系統編程經驗。有軟件/硬件集成經驗。<br>
				    在 CPU/TPU/GPU/DSP 上使用 OpenGL/OpenCL/NEON/LLVM 優化算法的經驗。<br>
					使用 FPGA 和/或仿真平台的驗證經驗。熟悉計算機架構、編譯器、機器學習或圖像處理。<br>
				</h2>

		</table>
    </body>
</html>
<!--style="table-layout:fixed"-->
