<!--測驗結果-->
<!--411030224 資管二A 劉苓苓-->
<!--20221028-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>測驗結果</title>
        <style>
            style=“table-layout:fixed”
            td {text-align: right}
        </style>
		<body bgcolor="#FBFBFF">
		<font color = "black" face="標楷體">
    </head>
    <body>
	    <table border="0">
		<tr>
		    <th><a href="main" style="color:#000000">首頁</a>
			<th style="color:#FF2D2D"><h4>職涯結果</h4>
			<th><a href="Application" style="color:#000000"><h4>想要的工作</h4></a>
			<th><a href="Resume" style="color:#000000"><h4>求職履歷自傳</h4></a>
		</table>
		<table align="center"; width="100%"; style="table-layout:fixed"; border="0">
		<tr>
		   <th colspan="3"><h1>劉苓苓興趣何倫碼測驗結果</h1>
		<tr>
		   <th><h2>職場共通職能診斷結果</h2>
		   <th><h2>UCAN 16職涯性格類型</h2>
		   <th><h2>職業性格類型</h2>
		<tr>
		   <th align="center"><img src ="../static/CareerResult_CareerType.png" width="550px">
		   <th align="center"><img src ="../static/CareerResult_HollandCode.png">
		   <th align="center"><img src ="../static/CareerResult_Communicate.png" width="550px">
		</table>
    </body>
</html>
<!--style="table-layout:fixed"-->
