<!--個人首頁-->
<!--411030224 資管二A 劉苓苓-->
<!--20221011-->
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>求職首頁</title>
        <style>
            style=“table-layout:fixed”
            td {text-align: right}
        </style>
		<body bgcolor="#FBFBFF">
		<font color = "black" face="標楷體">
    </head>
    <body>
	    <table border="0">
		<tr>
		    <th style="color:#FF2D2D">首頁
			<th><a href="CareerResults" style="color:#000000"><h4>職涯結果</h4></a>
			<th><a href="Application" style="color:#000000"><h4>想要的工作</h4></a>
            <th><a href="Resume" style="color:#000000"><h4>求職履歷自傳</h4></a>

		</table>
		<table align="center"; width="80%"; style="table-layout:fixed"; border="0">
		<tr>
		    <th bgcolor=><h1>資管二A 411030224 劉苓苓</h1>
		</table>
		<table align="center"; width="80%"; style="table-layout:fixed"; border="0">
		<tr> 
		    <th><h2>我是...劉苓苓</h2>
			<th rowspan="4"><img src= "../static/index_myself_1.jpg" width ="400px">
		<tr> 
		    <th bgcolor="#FFF7FB"><a href="CareerResults" style="color:#000000"><h2>職涯測驗結果</h2></a>
		<tr> 
		    <th><a href="Application" style="color:#000000"><h2>我未來想要的工作<h2></a>
		<tr> 
		    <th bgcolor="#FFF7FB"><a href="Resume" style="color:#000000"><h2>求職履歷自傳</h2></a>
		</table>
    </body>
</html>
